<h1>PRODUCT</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price of each :</strong>
  <%= @product.price %>
</p>


<%= link_to 'Back', root_path %>

